@import 'flag-icons/sass/flag-icons';

// General

a {
    text-decoration: none !important;
}

// Forms

.input-error,
.input-error input {
    border-color: #f00 !important;
}

.error-message {
    text-align: center;
    color: #f00;
}
